<div class="page-header">
  <h3>Kwest Trip #<%= @kwest_trip.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Trip name</dt>
      <dd><%= @kwest_trip.trip_name %></dd>

      <dt>Region</dt>
      <dd><%= @kwest_trip.region %></dd>

      <dt>Is short</dt>
      <dd><%= @kwest_trip.is_short %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/kwest_trips" class="btn btn-primary">
        Back
      </a>
      <a href="/kwest_trips/<%= @kwest_trip.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_kwest_trip/<%= @kwest_trip.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Kwest trip has many sign_ups -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Sign Ups
      </li>

      <% @kwest_trip.sign_ups.each do |sign_up| %>
        <li class="list-group-item">
          <a href="/sign_ups/<%= sign_up.id %>">
            <%= sign_up.kwestee_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/sign_ups/<%= sign_up.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/sign_ups/<%= sign_up.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_sign_up/<%= sign_up.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Kwest trip has many recommendations -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Recommendations
      </li>

      <% @kwest_trip.recommendations.each do |recommendation| %>
        <li class="list-group-item">
          <a href="/recommendations/<%= recommendation.id %>">
            <%= recommendation.sender_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/recommendations/<%= recommendation.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/recommendations/<%= recommendation.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_recommendation/<%= recommendation.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
