<div class="page-header">
  <h3>Kwest Trip #<%= @kwest_trip.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Trip name</dt>
      <dd><%= @kwest_trip.trip_name %></dd>

      <dt>Region</dt>
      <dd><%= @kwest_trip.region %></dd>

      <dt>Is short</dt>
      <dd><%= @kwest_trip.is_short %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/kwest_trips" class="btn btn-primary">
        Back
      </a>
      <a href="/kwest_trips/<%= @kwest_trip.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_kwest_trip/<%= @kwest_trip.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
